[
    {
        "name": "admin-key-name",
        "secret": "ABCDEFGHIJKLMNOPQRSECRET",
        "isAdmin": true
    },
    {
        "name": "some-api-key",
        "secret": "ABCDEFGHIJKLMNOPQRSECRET2",
        "isAdmin": false
    }
]
